* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #383131;
}

#logo {
    color: #A25F08;
    font-size: 3.052rem;
    padding: 0 15px;
    line-height: 0;
}

h1 {
    font-size: 3.815rem;
}

.h1-doo {
    color: #A25F08;
}

h2 {
    font-size: 1.953rem;
}

h3 {
    font-size: 1.563rem;
}

#main-header {
    display: flex;
    background-color: #b8e6ff;
    padding: 40px 20px;
    align-items: center;
    box-shadow: 1px 5px 5px #808080;
    position: relative;
}

main {
    display: flex;
    min-height: calc(100vh - 130px - 60px);
}

nav {
    background-color: #fffec1;
    width: 350px;
    padding: 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

#nav-header, #tasks, #projects {
    margin-bottom: 25px;
}

#nav-header {
    display: flex;
}

#tasks {
    display: flex;
    flex-direction: column;
}

#projects, .project-list {
    display: flex;
    flex-direction: column;
}

#content {
    width: 1000px;
}

.modules {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 50px;
}

.modules > button, .project > button {
    padding: 15px 20px;
    font-size: 1.25rem;
}

footer {
    background-color: #f4d570;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    /*border-top-left-radius: 25px;*/
    /*border-top-right-radius: 25px;*/
}

button {
    border-style: none;
    background-color: #fffec1;
    text-align: left;
    border-radius: 15px;
}

button:hover {
    background-color: #f1f1f1;
}

#tasks > button, #projects button {
    padding: 15px 20px;
    font-size: 1.25rem;
}

#tasks > button:active, #projects button:active {
    background-color: #A25F08;
}

.todo--container {
    display: flex;
    justify-content: space-between;
    background-color: lightgreen;
    padding: 15px 20px;
    margin-bottom: 5px;
    border-radius: 15px;
}

.todo--complete {
    font-size: 1.25rem;
}

/* Project */

.add-project-buttons-container {
    display: flex;
    justify-content: space-between;
}

.input-project {
    width: 100%;
    padding: 10px;
    font-size: 1.25rem;
}