* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#logo {
    color: #A25F08;
}

#main-header {
    display: flex;
    background-color: #93CCEA;
}

main {
    display: flex;
}

#nav-header {
    display: flex;
}

#tasks {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #f4d570;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}